<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Taekwondo Poomsae</title>
  <link rel="stylesheet" href="../Assets/bootstrap-5.0.2-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../Assets/styles/estilos.css">
  <link rel="stylesheet" href="../Assets/styles/carousel-style.css">
</head>

<body>
  <div class="container-fluid">
    <!-- cabecera  -->
    <div class="row">
      <div class="col-lg-12">
        <header class="d-flex justify-content-center">
          <h1 class="text-light">TaeKwonDo WTF - Poomsae</h1>
        </header>
      </div>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="promocional.html">Promocional</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Elite</a>
      </li>
    </ul>
  </div>
    <!-- CAROUSEL -->
    <div id="contIndex">
      <div class="container text-center my-3">
        <h2 class="font-weight-light">Poomsae Elite</h2>
        <div class="row mx-auto my-auto justify-content-center">
          <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <div class="col-md-3">
                  <div class="card">
                    <div class="img-wrapper">
                      <img src="../Assets/Img/Elite/F-E-junior.PNG" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-3">
                  <div class="card">
                    <div class="img-wrapper">
                      <img src="../Assets/Img/Elite/F-E-juvenil.png" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-3">
                  <div class="card">
                    <div class="img-wrapper">
                      <img src="../Assets/Img/Elite/F-E-menos30.png" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-3">
                  <div class="card">
                    <div class="img-wrapper">
                      <img src="../Assets/Img/Elite/F-E-mas30.png" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-3">
                  <div class="card">
                    <div class="img-wrapper">
                      <img src="../Assets/Img/Elite/M-E-junior.PNG" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-3">
                  <div class="card">
                    <div class="img-wrapper">
                      <img src="../Assets/Img/Elite/M-E-juvenil.PNG" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-3">
                  <div class="card">
                    <div class="img-wrapper">
                      <img src="../Assets/Img/Elite/M-E-juvenil.PNG" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-3">
                  <div class="card">
                    <div class="img-wrapper">
                      <img src="../Assets/Img/Elite/M-E-juvenil.PNG" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-3">
                  <div class="card">
                    <div class="img-wrapper">
                      <img src="../Assets/Img/Elite/M-E-juvenil.PNG" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-3">
                  <div class="card">
                    <div class="img-wrapper">
                      <img src="../Assets/Img/Elite/M-E-juvenil.PNG" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-3">
                  <div class="card">
                    <div class="img-wrapper">
                      <img src="../Assets/Img/Elite/M-E-juvenil.PNG" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-3">
                  <div class="card">
                    <div class="img-wrapper">
                      <img src="../Assets/Img/Elite/M-E-juvenil.PNG" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
          </div>
        </div>
      </div>
    </div>



    <!--Pie-->
    <footer class="page-footer font-small position-relative bottom-0">
      <div class="container row mt-2">
        <div class="text-light col-9 ms-2 mb-2" id="infoContacto">
          CONTACTO <br>
          Whatsapp: +54 299 655 1374
        </div>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 text-light col mx-0 mt-2" id="copyright">Taekwondo Poomsae
        </div>
      </div>
    </footer>
  </div>

  <script type="text/javascript" src="../Assets/js/carousel.js"></script>
  <script type="text/javascript" src="../Assets/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../Assets/js/funciones.js"></script>
</body>

</html>