<!DOCTYPE html>
<html lang="en">

<!-- ME FALTA IMPORTAR ARCHIVOS JAJ -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taekwondo Poomsae</title>
    <link rel="stylesheet" href="../Assets/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Assets/estilos.css">
    <link rel="stylesheet" href="../Assets/carousel.css">
</head>

<body>
    <div class="container-fluid">
        <!-- cabecera  -->
        <div class="row">
            <div class="col-lg-12">
                <header class="d-flex justify-content-center">
                    <h1 class="text-light">TaeKwonDo WTF - Poomsae</h1>
                </header>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Promocional</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="elite.html">Elite</a>
            </li>
        </ul>
        <!-- CAROUSEL-->
        <div>
            <h1 class="text-center">Poomsae Reconocido</h1>
            <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card">
                            <div class="img-wrapper">
                                <img src="slide 1.jpg" alt="...">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="img-wrapper">
                                <img src="slide 2.png" alt="...">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="img-wrapper">
                                <img src="slide 3.png" alt="...">
                            </div>
                            <div class="card-body">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="img-wrapper">
                                <img src="slide 4.png" alt="...">
                            </div>
                            <div class="card-body">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="img-wrapper">
                                <img src="slide 5.png" alt="...">
                            </div>
                            <div class="card-body">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="img-wrapper">
                                <img src="slide 6.png" alt="...">
                            </div>
                            <div class="card-body">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="img-wrapper">
                                <img src="slide 1.jpg" alt="...">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="img-wrapper">
                                <img src="slide 2.png" alt="...">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="card">
                            <div class="img-wrapper">
                                <img src="slide 3.png" alt="...">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="img-wrapper">
                                <img src="slide 4.png" alt="...">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="img-wrapper">
                                <img src="slide 5.png" alt="...">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="img-wrapper">
                                <img src="slide 6.png" alt="...">
                            </div>
                        </div>
                    </div>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <!--Pie-->
    <footer class="page-footer font-small position-relative bottom-0">
        <div class="container row mt-2">
            <div class="text-light col-9 ms-2 mb-2" id="infoContacto">
                CONTACTO <br>
                Whatsapp: +54 299 655 1374
            </div>
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3 text-light col mx-0 mt-2" id="copyright">Taekwondo Poomsae
            </div>
        </div>
    </footer>
    </div>

    <script src="../Assets/jquery-3.6.4.min.js"></script>
    <script src="../Assets/jquery-carousel.js"></script>
    <script type="text/javascript" src="../Assets/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../Assets/funciones.js"></script>
</body>

</html>