<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Taekwondo Poomsae</title>
  <link rel="stylesheet" href="../Assets/bootstrap-5.0.2-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../Assets/estilos.css">
  <!-- Required Core Stylesheet -->
  <link rel="stylesheet" href="node_modules/@glidejs/glide/dist/css/glide.core.min.css">

  <!-- Optional Theme Stylesheet -->
  <link rel="stylesheet" href="node_modules/@glidejs/glide/dist/css/glide.theme.min.css">
</head>

<body>
  <div class="container-fluid">
    <!-- cabecera  -->
    <div class="row">
      <div class="col-lg-12">
        <header class="d-flex justify-content-center">
          <h1 class="text-light">TaeKwonDo WTF - Poomsae Reconocido Equipos</h1>
        </header>
      </div>
    </div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Promocional</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="elite.html">Elite</a>
      </li>
    </ul>
    <!-- CAROUSEL-->
    <div id="contIndex">
      <h1>Poomsae Reconocido</h1>
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../Assets/Img/Adultos-1-individual.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../Assets/Img/Adultos-2-individual.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../Assets/Img/Infantiles-A-individual.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../Assets/Img/Juveniles-individual.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <br>
    <!-- tabla y parrafo  -->
    <div class="row ">

      <!-- Tabla con ranking -->
      <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-8 ">
        <table class="table text-center table-bordered">
          <thead class=" table-dark text-light bg-dark border-light">
            <tr>
              <th scope="col">N°</th>
              <th scope="col">Puntaje</th>
              <th scope="col">Equipo</th>
            </tr>
          </thead>
          <tbody id="tablaRkng">

          </tbody>
        </table>

      </div>

      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4">
        <!-- datos del ganador y frase icónica -->
        <div class="card bg-light text-body">
          <div class="card-body" id="cardParrafo">

          </div>
        </div>
      </div>
    </div>
    <!--Pie-->
    <footer class="page-footer font-small position-relative bottom-0">
      <div class="container row mt-2">
        <div class="text-light col-9 ms-2 mb-2" id="infoContacto">
          CONTACTO <br>
          Whatsapp: +54 299 655 1374
        </div>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 text-light col mx-0 mt-2" id="copyright">Taekwondo Poomsae
        </div>
      </div>
    </footer>
  </div>
  <script src="node_modules/@glidejs/glide/dist/glide.min.js"></script>
  <script type="text/javascript" src="../Assets/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../Assets/funciones.js"></script>
  <script type="text/javascript" src="../Assets/tablasPromocional.js"></script>
</body>

</html>