header {
    background-color: #000000;
    width: 100%;
  }
  
  ul{
    background-color: #000000;
  }

  #selectedTab {
    background-color: #1a1919;
    border-radius: 10%;
  }

  .container-fluid {
    background-color: #dbdbdb;
    size: 100%;
  }

  body {
    background-color: #dbdbdb;
    width: 100vw;
    background-size: cover;
    min-height: 100vh;
    max-width: 100%;
    margin: 0 auto;
  }
  
  footer {
    background-color: #000000; 
    position:fixed;
    left:0px;
    bottom:0px;
    height:fit-content;
    width:100%;
  }

  #contIndex{
    background-color: #363535;
    width: fit-content;
    height: fit-content;
    position:relative; 
    padding: 20px;
    display: block;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  #tablaProm{
    background-color: #000000;

  }
  #tablaRkng{
    background-color: #ececec;
  }

  #parrafoP{
    background-color: #ececec;
  }
  
  .containerInfo {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .text {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  @media (max-width: 991px) {
    .text {
      font-size: 1rem;
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 767px) {
    .row {
      flex-direction: column-reverse;
    }
    .text {
      text-align: center;
    }
    .imagen {
      display: block;
      margin: 0 auto;
      width: 80%;
    }
  }
  

  

