header {
    background-color: #e9431e;
    width: 100%;
  }
  
  ul{
    background-color: #e9431e;
  }

  #selectedTab {
    background-color: #e65332;
    border-radius: 10%;
  }

  .container-fluid {
    background-color: #e2d4d1;
    size: 100%;
  }

  body {
    background-color: #e2d4d1;
    width: 100vw;
    background-size: cover;
    min-height: 100vh;
    max-width: 100%;
    margin: 0 auto;
  }
  
  footer {
    background-color: #e9431e; 
    position:fixed;
    left:0px;
    bottom:0px;
    height:fit-content;
    width:100%;
  }

  #contIndex{
    background-color: #e08975;
    width: fit-content;
    height: fit-content;
    position:relative; 
    padding: 20px;
    display: block;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #tablaProm{
    background-color: #e9431e;

  }
  #tablaRkng{
    background-color: #ede6e4;
  }

  #parrafoP{
    background-color: #ede6e4;
  }

  .containerInfo {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .text {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  @media (max-width: 991px) {
    .text {
      font-size: 1rem;
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 767px) {
    /* .row {
      flex-direction: column-reverse;
    } */
    .text {
      text-align: center;
    }
    .imagen {
      display: block;
      margin: 0 auto;
      width: 80%;
    }
  }
  
  
